<template>
    <v-card tile>
        <v-toolbar dense dark :color="toolbarC">
            <v-toolbar-title class="title">
                <v-icon class="mr-2 mb-2">mdi-briefcase</v-icon>
                <span>{{nameRoute}}</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>

            <v-menu v-model="menu" :close-on-content-click="false"  :nudge-width="50" offset-y>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn icon dark v-bind="attrs" v-on="on" class="mr-1">
                        <v-avatar size="40">
                            <v-img :src="user.photo" alt="profile-mini"></v-img>
                        </v-avatar>
                    </v-btn>
                </template>
                <v-card>
                    <v-list>
                        <v-list-item>
                            <v-list-item-avatar>
                                <v-img :src="user.photo" alt="profile-mini"></v-img>
                            </v-list-item-avatar>

                            <v-list-item-content>
                                <v-list-item-title>{{usuario.name}}</v-list-item-title>
                                <v-list-item-subtitle>{{usuario.cargo}}</v-list-item-subtitle>
                            </v-list-item-content>
                            
                            <v-btn rounded small outlined color="primary" dark @click.prevent="menu=false" :to="{path:'/curriculum'}">
                                <v-icon class="mr-2">mdi-account</v-icon>
                                Ver Perfil
                            </v-btn>

                            <v-list-item-action>
                                <v-btn icon :to="{path:'/'}" @click.prevent="menu=false">
                                    <v-icon>mdi-home</v-icon>
                                </v-btn>
                            </v-list-item-action>
                        </v-list-item>
                    </v-list>

                    <v-divider class="mx-4"></v-divider>

                    <v-list>
                        <v-list-item>
                            <v-list-item-action>
                                <!-- <v-switch v-model="message" color="purple"></v-switch> -->
                            </v-list-item-action>
                            <v-list-item-title>Enable messages</v-list-item-title>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-action>
                                <!-- <v-switch v-model="hints" color="purple"></v-switch> -->
                            </v-list-item-action>
                            <v-list-item-title>Enable hints</v-list-item-title>
                        </v-list-item>
                    </v-list>

                    <v-card-actions class="ma-0 pa-0">
                        <!-- <Logout/> -->
                        <v-btn dark :color="toolbarC" block>
                            CERRAR SESIÓN
                            <v-icon class="ml-2 font-weight-light">mdi-power</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-menu>
        </v-toolbar>
    </v-card>
</template>

<script>
    export default {
        name: 'Navbar',
        data: () => ({
            menu:false,
            usuario: {
                name: 'LUIS GERARDO GUERRERO ESPINO',
                email: 'lgge1794@gmail.com',
                cargo: 'DESARROLLADOR WEB'
            },
        }),
        computed:{
            user(){
                return this.$store.state.user;
            },
            toolbarC(){
                return this.$store.state.curriculum.toolbarC;
            },
            nameRoute(){
                return this.$route.name;
            }
        },
        methods:{
        }
    }
</script>