<template>
    <v-card>
        <v-toolbar dark dense :color="toolbarC">
            <v-toolbar-title>FORMACIÓN COMPLEMENTARIA</v-toolbar-title>
        </v-toolbar>
        <v-action-text>
            <v-col cols="12" class="pa-0" v-for="(item, index) in cursos" :key="index">
                <v-list three-line class="pa-0">
                    <v-list-item class="ma-0">
                        <v-list-item-avatar>
                            <v-icon class="" color="black" size="40">{{item.icon}}</v-icon>
                        </v-list-item-avatar>

                        <v-list-item-content>
                            <v-list-item-title class="text-uppercase" :title="item.date" v-text="item.date"></v-list-item-title>
                            <v-list-item-subtitle class="text-uppercase" :title="item.name" v-text="item.name"></v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider></v-divider>
                    </v-list>
            </v-col>
        </v-action-text>
    </v-card>
</template>
<script>
    export default {
        name: 'Cursos',
        data: () => ({
            cursos: [
                { icon: 'mdi-certificate', date: '01 de Junio de 2012', name: 'Certificado en Word (Microsoft Office Specialist)'},                
                { icon: 'mdi-certificate', date: '20 de Mayo de 2013', name: 'Certificado en Word (Microsoft Office Specialist)'},                
                { icon: 'mdi-certificate', date: '20 de Mayo de 2013', name: 'Certificado en Power Point (Microsoft Office Specialist)'},                
                { icon: 'mdi-certificate', date: '27 de Junio de 2013', name: 'Certificado en Redes (Cisco Networking Academy)'},                
                { icon: 'mdi-certificate', date: '23, 24 y 25 de Octubre de 2013', name: 'X Simposium Internacional en Ciencias'},
                { icon: 'mdi-certificate', date: '6 al 10 de Abril de 2015', name: 'Curso Básico de Controladores de Bienes Muebles en Sistema de Inventarios en Línea (S.I.L.)'},
                // Secretaria de la Defensa Nacional.
                // Dirección General de Administración.



            ],
        }),
        computed:{
            toolbarC(){
                return this.$store.state.curriculum.toolbarC;
            }
        }
    }
</script>