<template>
    <v-card>
        <v-toolbar dark dense :color="toolbarC">
            <v-toolbar-title>FORMACIÓN ACADEMICA</v-toolbar-title>
        </v-toolbar>
        <v-action-text>
            <v-col cols="12" class="pa-0" v-for="(item, index) in educaciones" :key="index">
                <v-list three-line class="pa-0">
                    <v-list-item class="ma-0">
                        <v-list-item-avatar>
                            <v-icon class="" color="black" size="40">{{item.icon}}</v-icon>
                        </v-list-item-avatar>

                        <v-list-item-content>
                            <v-list-item-title :title="item.cargo" v-text="item.cargo"></v-list-item-title>
                            <v-list-item-subtitle :title="item.escuela" v-text="item.escuela"></v-list-item-subtitle>
                            <v-list-item-subtitle :title="item.periodo" v-text="item.periodo"></v-list-item-subtitle>
                            <v-list-item-subtitle :title="item.cp" v-text="item.cp"></v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider></v-divider>
                    </v-list>
            </v-col>
        </v-action-text>
    </v-card>
</template>

<script>
    export default {
        name: 'Educacion',
        data: () => ({
            educaciones: [
                {
                    icon:'mdi-school', 
                    cargo: 'INGENIERIA EN SISTEMAS COMPUTACIONALES',
                    escuela: 'INSTITUTO TECNOLÓGICO DE CHETUMAL',
                    periodo: 'Julio, 2013 al Julio, 2015 (2 años)',
                    cp: 'CARRERA TRUNCA'
                },
                {
                    icon:'mdi-school', 
                    cargo: 'PROFESIONAL TECNICO BACHILLER EN INFORMATICA',
                    escuela: 'COLEGIO NACIONAL DE EDUCACIÓN PROFESIONAL TÉCNICA',
                    periodo: 'Julio, 2009 al Julio, 2013 (4 años)',
                    cp: 'C.P. 2243424'
                },
            ]
        }),
        computed:{
            toolbarC(){
                return this.$store.state.curriculum.toolbarC;
            }
        }
    }
</script>