<template>
    <v-card>
        <v-toolbar dark dense :color="toolbarC">
            <v-toolbar-title>PROYECTOS/EXPERIENCIAS LABORALES</v-toolbar-title>
        </v-toolbar>
        <v-action-text>
            <v-col cols="12" class="pa-0" v-for="(item, index) in experiencias" :key="index">
                <v-list three-line class="pa-0">
                    <v-list-item class="ma-0">
                        <v-list-item-avatar>
                            <v-icon class="" color="black" size="40">{{item.icon}}</v-icon>
                        </v-list-item-avatar>

                        <v-list-item-content>
                            <v-list-item-title v-text="item.empresa"></v-list-item-title>
                            <v-list-item-subtitle v-text="item.cargo"></v-list-item-subtitle>
                            <v-list-item-subtitle v-text="item.periodo+' - '+item.lugar"></v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider></v-divider>
                    </v-list>
            </v-col>
        </v-action-text>
    </v-card>    
</template>
<script>
    export default {
        name: 'AcercaDe',
        computed:{
            toolbarC(){
                return this.$store.state.curriculum.toolbarC;
            }
        },
        data: () => ({
            experiencias: [
                {
                    icon:'mdi-briefcase', 
                    cargo: 'INGENIERO EN PROGRAMACIÓN',
                    lugar: 'Chetumal, Q. Roo, MX',
                    empresa: 'GENERAL DATACOMM DE MÉXICO S.A. DE C.V.',
                    periodo: 'Julio, 2018 a la Actualidad'
                },
                {
                    icon:'mdi-briefcase', 
                    cargo: 'DESARROLLADOR WEB',
                    lugar: 'Chetumal, Q. Roo, MX',
                    empresa: 'ENTERPRISE TELECOMM S.A. DE C.V.',
                    periodo: 'Noviembre, 2018 a la Actualidad'
                },
                {
                    icon:'mdi-briefcase-account', 
                    cargo: 'DESARROLLADOR WEB',
                    lugar: 'Chetumal, Q. Roo, MX',
                    empresa: 'SEGURO POPULAR',
                    periodo: 'Enero, 2020 al Julio, 2020 (6 Meses)'
                },
                {
                    icon:'mdi-briefcase-account', 
                    cargo: 'DESARROLLADOR WEB',
                    lugar: 'Tulum, Q. Roo, MX',
                    empresa: 'AYUNTAMIENTO DE TULUM, Q. ROO',
                    periodo: 'Julio, 2019 al Diciembre, 2019 (6 Meses)'
                },
                {
                    icon:'mdi-briefcase-account', 
                    cargo: 'DESARROLLADOR WEB',
                    lugar: 'Cozumel, Q. Roo, MX',
                    empresa: 'FUNDACIÓN DE PARQUES Y MUSEOS DE COZUMEL',
                    periodo: 'Julio, 2019 al Diciembre, 2019 (6 Meses)'
                },
                {
                    icon:'mdi-briefcase-account', 
                    cargo: 'DESARROLLADOR WEB',
                    empresa: 'CONTROL DE PAGOS',
                    periodo: 'Enero, 2020 al Julio, 2020 (6 Meses)'
                },
            ],
        })  
    }
</script>