<template>
    <div>
        <v-row class="mx-0">
            <v-spacer></v-spacer>
            <v-btn outlined rounded color="blue darken-2" class="mr-2">
                <v-icon class="mr-2">mdi-download</v-icon>
                Descargar
            </v-btn>
            <v-btn outlined rounded color="red darken-2">
                <v-icon class="mr-2">mdi-file-pdf</v-icon>
                Exportar
            </v-btn>
        </v-row>
        <v-row>
            <v-col cols="4" class="cont-profile">
                <v-card>
                    <!-- <v-toolbar dense dark :color="toolbarC">
                        <v-spacer></v-spacer>
                        <v-btn icon>
                            <v-icon class="mx-2">mdi-download</v-icon>
                        </v-btn>
                        <v-btn icon>
                            <v-icon class="mx-2">mdi-file-pdf</v-icon>
                        </v-btn>
                    </v-toolbar> -->
                    <v-col cols="12" class="pa-0">
                        <v-img src="/img/curriculum/laravel-banner.jpg"></v-img>
                    </v-col>
                    <!-- <v-col cols="12" align-center> -->
                    <v-img class="img-avatar" src="/img/curriculum/mini.jpg"></v-img>
                    <v-col class="text-center ma-0 pa-0" cols="12">
                        <span style="margin:0px!important; padding:0px!important;" class="title profile-name">LUIS GERARDO GUERRERO ESPINO</span><br>
                        <span class="font-weight-light" style="font-size:1.5em;position:relative; bottom:10px!important">Desarrollador Web</span>
                    </v-col>
                    <!-- </v-col> -->
                    <v-col cols="12" style="position:relative; bottom: 10px!important" class="text-center text-truncate">
                        <span style="position:relative; bottom:20px; font-size: 1.25em" class="font-weight-light">Chetumal, Quintana Roo, MX</span><br>
                        <a target="_blank" href="https://bitbucket.org/LuizGuerrero/" style="text-decoration:none!important;">
                            <v-icon class="mx-3" size="40" color="primary">mdi-bitbucket</v-icon>
                        </a>
                        <a target="_blank" href="https://github.com/LuizGuerrero1794" style="text-decoration:none!important;">
                            <v-icon class="mx-3" size="40" color="black">mdi-github</v-icon>
                        </a>
                        <a target="_blank" href="https://gitlab.com/LuizGuerrero1794" style="text-decoration:none!important;">
                            <v-icon class="mx-3" size="40" color="orange">mdi-gitlab</v-icon>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/luis-gerardo-guerrero-espino-708ab31a4" style="text-decoration:none!important;">
                            <v-icon class="mx-3" size="40" color="primary">mdi-linkedin</v-icon>
                        </a>
                        <v-divider class="mx-2 mt-2"></v-divider>
                    </v-col>
                    <v-col cols="12" class="ml-2 text-truncate">
                        <span class="font-weight-black">Datos Generales:</span><br>
                        <span style="font-size: 1.25em" class="font-weight-light">
                            <v-icon color="black" class="mr-2">mdi-email</v-icon>lgge1794@gmail.com
                        </span>
                        <br>
                        <span style="font-size: 1.25em" class="font-weight-light">
                            <v-icon color="black" class="mr-2">mdi-phone</v-icon>983-229-6446
                        </span>
                        <br>
                        <span style="font-size: 1.25em" class="font-weight-light">
                            <v-icon color="black" class="mr-2">mdi-account</v-icon>S.M.N. Liberado (34022012)(D-2212089)<br>
                        </span>
                    </v-col>
                    <v-col cols="12" class="ma-2 pr-5">
                        <span class="font-weight-black">Lenguajes:</span><br>
                        <span class="font-weight-light" style="font-size:1.25em;">Ingles</span>
                        <v-progress-linear color="black" class="mt-2" height="10" value="50" striped></v-progress-linear>
                    </v-col>
                    <v-col cols="12" class="ml-2 pr-5">
                        <span class="font-weight-black">Habilidades Profesionales:</span><br>
                        <span v-for="(item, index) in tecnologys" :key="index">
                            <v-icon class="mr-2 pb-1" :color="item.color">{{item.icon}}</v-icon> 
                            <span class="mr-4">{{item.name}}</span>
                        </span>
                            <!-- <v-progress-linear :color="item.color" class="mt-2" height="10" :value="item.value" striped></v-progress-linear> -->
                        
                    </v-col>
                    <v-col cols="12" class="ml-2 pr-5 text-justify">
                        <span class="font-weight-black">Habilidades Personales:</span><br>
                        <span v-for="(item, index) in personals" :key="index">
                            <v-icon class="mr-2 pb-1" :color="item.color">{{item.icon}}</v-icon> 
                            <span class="mr-4">{{item.name}}</span>
                        </span>
                            <!-- <v-progress-linear :color="item.color" class="mt-2" height="10" :value="item.value" striped></v-progress-linear> -->
                        
                    </v-col>
                </v-card>    
                <br>
                <Educacion/>
            </v-col>
            <v-col class="cont-portafolio">
                <Experiencia/>
                <br>
                <Cursos/>
            </v-col>
        </v-row>

    </div>
</template>

<script>
    // import Acerca from './Acerca';
    import Experiencia from './Experiencia';
    import Educacion from './Educacion';
    import Cursos from './Cursos';

    export default {
        name: 'Profile',
        components:{
            // Acerca,
            Experiencia,
            Educacion,
            Cursos,
        },
        computed:{
            toolbarC(){
                return this.$store.state.curriculum.toolbarC;
            }
        },
        data: () => ({
            personals: [
                { icon:'mdi-account-multiple', color:"black", name: 'Trabajo en Equipo', value: 85 },
                { icon:'mdi-account-tie-voice', color:"black", name: 'Comunicación', value: 85 },
                { icon:'mdi-creation', color:"black", name: 'Creatividad', value: 85 },
                { icon:'mdi-account-tie', color:"black", name: 'Dedicación', value: 85 },
            ],
            tecnologys: [
                {icon:'mdi-language-php', color: 'indigo lighten-1', name: 'PHP', value: 90},
                {icon:'mdi-laravel', color: 'red lighten-2', name: 'Laravel', value: 85},
                {icon:'mdi-language-javascript', color: 'yellow darken-1', name: 'Javascript', value: 85},
                {icon:'mdi-vuejs', color: 'green darken-1', name: 'Vue Js', value: 90},
                {icon:'mdi-react', color: 'blue lighten-2', name: 'React Js', value: 40},
                {icon:'mdi-angular', color:'red accent-4', name: 'Angular Js', value: 40},
                {icon:'mdi-nodejs', color:'green accent-4', name: 'Node Js', value: 40},
                {icon:'mdi-database-search', color:"yellow darken-2", name: 'MySQL', value: 85},
                {icon:'mdi-git', color:"orange darken-2", name: 'Git', value: 85},
                {icon:'mdi-microsoft-office', color:"orange darken-2", name: 'Paqueteria Office', value: 90},
                {icon:'mdi-adobe-acrobat', color:"red darken-2", name: 'Adobe Photoshop', value: 80},
                {icon:'mdi-bootstrap', color:"purple darken-2", name: 'Bootstrap', value: 90},
                {icon:'mdi-lan-connect', color:"grey darken-2", name: 'Redes', value: 90},
            ],
        })
    }
</script>
<style>
    .img-avatar {
        max-width: 150px;
        max-height: 150px;
        margin: auto; 
        bottom:20px; 
        border-radius:50%
    }

    @media (max-width: 999px) {
        .cont-profile, .cont-portafolio{
            max-width: 100%!important;
        }

    }
</style>