<template>
  <v-app>
    <v-main>
      <v-container fluid class="mx-0 pa-0">
        <Navbar/>
        <v-container fluid style="max-width:1400px">
          <router-view></router-view>
        </v-container>  
      </v-container>
      
    </v-main>
  </v-app>
</template>

<script>
import Navbar from './components/Navbar';

export default {
  name: 'App',
  components: {
    Navbar,
  },

  data: () => ({
    //
  }),
};
</script>
